body{
	font-family: 'Varela Round', sans-serif;

}
section{
	height:850px;
}
h1 {
	font-family: 'Secular One', sans-serif;
}
nav{
}
ul {
	display:flex;
	float:right;
}
li{
	font-family: 'Secular One', sans-serif;
	list-style-type:none;
	display:flex;
	flex-wrap:wrap;
	font-size: 25px;
	color:aliceblue;
	margin-right: 50px;
	margin-top: 30px;
	text-shadow: 3px 4px 5px #05193e;

}
footer{
	position:relative;
	top:0;
	bottom:0;
	z-index:1;
	height:200px;
	background-color: #a9a7b375;
}
.welcome{
	position: absolute;
	margin: 500px 1000px;
	animation: accross 1s  ease-in forwards;

}
.logo{
	margin-right: 500px;
	margin-top: -15px;
	font-size: 35px;

}
.home{
	background-color: #34495e;
   
}
.aboutImg{
	position:absolute;
	margin:150px 30px;
	box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.17)
}
.aboutUs{
	text-align:justify;
	float:right;
	margin:100px 50px 0px 650px;

}
.about{
	background-image:
    linear-gradient(
      #1a3952d6, #4446906b, #5e6a8c8a
    );
}
}
.contact{
	background-color:#EBF2FA;
}
#socOne{
	height: 40px;
	width:40px;
	border-radius:50%;
	background-color:aliceblue;
}
#socTwo{
	height:40px;
	width:40px;
	border-radius:50%;
	background-color:aliceblue;
}
#socThree{
	height:  40px;
	width: 40px;
	border-radius:50%;
	background-color:aliceblue;
}

@keyframes accross {
	0%{transform: translateX(0px) translateY(0px)}
	10%{ transform: translateX(-100px)translateY(-100px)}
	50%{ transform: translateX(-200px)translateY(-200px)}
	70%{ transform: translateX(-300px)translateY(-300px)}
	100%{ transform: translateX(-815px)translateY(-485px)}


}