body{

}
section{
	height:850px;
}
nav{

}
ul {

}
li{

}
footer{
	position:relative;
	top:0;
	bottom:0;
	z-index:1;
	height:200px;
	background-color: #a9a7b375;
}
.home{
	background-color:#2D3142;
}
.about{
	background-color:;
}
.welcome{
	position: absolute;
	margin: 80px 50px;
	height: 400px;
	width: 750px;

}
.contact{
	background-color:#EBF2FA;
}
#socOne{
	height:  70px;
	width: 70px;
	border-radius:  50%;
}
#socTwo{
	height:  70px;
	width: 70px;
	border-radius:  50%;
}
#socThree{
	height:  70px;
	width: 70px;
	border-radius:  50%;
}